html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Displayed Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}
a{color: inherit; text-decoration: none; font-family: 'Displayed Regular', sans-serif;}
*{box-sizing: border-box;}
::selection{background:#181818;color:#fff}
::-moz-selection{background:#181818;color:#fff}
::-webkit-selection{background:#181818;color:#fff}
@font-face {
  font-family: 'Displayed Regular';
  src: url('../public/fonts/displayed-webfont.woff2') format('woff2'),
       url('../public/fonts/displayed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edo SZ';
  src: url('../public/fonts/edosz-webfont.woff2') format('woff2'),
       url('../public/fonts/edosz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* DEFAULT BGS */
.bg_white{background-image: url(../public/images/bg_white_texture.jpg); background-size: contain; background-position: center center;}
.bg_dark{background-image: url(../public/images/bg_black_texture.jpg); background-size: contain; background-position: center center;}
/* HEADER */
#header{background-image: url(../public/images/bg_header.jpg); background-position: center top; min-height: 110vh;}
#header h3{font-family: 'Displayed Regular', sans-serif;}
#header .slide_lineup{margin: 0; display: block; font-family: 'Edo SZ', sans-serif;}
#header .slide_lineup ul{display: inline-block; list-style: none; margin: 0 0 3em 0; padding: 0; border-bottom: 5px solid rgba(255,255,255,.5);}
#header .slide_lineup ul li{display: block; font-family: 'Edo SZ', sans-serif; font-size: 6em;}
#header button{font-family: 'Displayed Regular', sans-serif; font-size: 1.3em; letter-spacing: -1px; color: #fff;}
#header button:hover{color: #111;}
/* SOBRE */
.section{font-family: 'Displayed Regular', sans-serif; transform: skewY(-3deg);}
.section .container{transform: skewY(3deg);}
.section h2{font-size: 3em;}
.section p{font-size: 21px;}
/* POESIA */
#poesia-acustica img.pineapple{max-width: 150px;}
#poesia-acustica img.poesia{max-width: 380px;}
img.mouse_scroll_down{filter: invert(1); animation: pulse 2s infinite;}
#teto .container h1,
#tz .container h1{font-size: 5em; font-weight: 'bold'; margin: 0; padding: 0;}
#teto .container{background-image: url(../public/images/teto-full.png); background-position: right bottom; background-size: contain; background-repeat: no-repeat;}
#tz .container{background-image: url(../public/images/tz-full.png); background-position: left bottom; background-size: contain; background-repeat: no-repeat;}
/* CUSTOM POSITION */
#sobre{margin-top: -50px;}
#sobre p{text-align: justify; padding: 0 8em;}
/* EMBLA CARROUSEL */
.embla {overflow: hidden;}
.embla__container{display: flex;}
.embla__slide {position: relative; flex: 0 0 100%;}
/* MODAL TYPE PAYMENT */
.modal h1{line-height: 35px;}
.btn.btn-type-payment{background-color: rgba(0,0,0,.1); border-radius: 10px; min-height: 75px; display: flex; align-items: center; justify-content: center; text-align: center; font-size: 22px; line-height: 20px; position: relative;}
.btn.btn-type-payment img{max-width: 30%; right: -5%; bottom: -30%; position: absolute;}
.btn.btn-type-payment img.ico_zap{max-width: 20%;}
.btn.btn-type-payment:hover{background-color: #f39c12; color: #fff;}
.btn.btn-type-payment.selected{border: 1px solid #f39c12; background-color: #fff; color: #f39c12;}
/* HOVER DO CAMAROTE: COR LARANJA */
#mapa{background: url(../public/images/map.png) center top no-repeat; background-size: contain; width: 626px; height: 473px; display: block; margin: 0 auto; position: relative;}
#mapa ul{list-style: none; width: 100%; height: 100%;}
#mapa ul li{width: 45px; height: 38px; cursor: pointer; position: absolute; opacity: .9; color: transparent; transition: .5s ease-in-out;}
#mapa ul li:hover{background-color: #ff9a00;}
#mapa ul li.reservado{cursor: no-drop; background-color: rgba(0,0,0,.6);}
#mapa ul li.reservado:hover{background-color: #444;}
#mapa ul li.camarote_1{left: 15px; top: 72px;}
#mapa ul li.camarote_2{left: 15px; top: 116px;}
#mapa ul li.camarote_3{left: 15px; top: 160px;}
#mapa ul li.camarote_4{left: 15px; top: 204px;}
#mapa ul li.camarote_5{left: 15px; top: 248px;}
#mapa ul li.camarote_6{left: 15px; top: 358px;}
#mapa ul li.camarote_7{left: 11px; top: 401.5px;}
#mapa ul li.camarote_8{left: 61px; top: 402px;}
#mapa ul li.camarote_9{left: 108px; top: 402px;}
#mapa ul li.camarote_10{left: 155px; top: 402px;}
#mapa ul li.camarote_11{left: 202px; top: 402px;}
#mapa ul li.camarote_12{left: 249px; top: 402px;}
#mapa ul li.camarote_13{left: 332px; top: 402px;}
#mapa ul li.camarote_14{left: 378px; top: 402px;}
#mapa ul li.camarote_15{left: 425px; top: 402px;}
#mapa ul li.camarote_16{left: 472px; top: 402px;}
#mapa ul li.camarote_17{left: 519px; top: 402px;}
#mapa ul li.camarote_18{left: 570px; top: 401.5px;}
#mapa ul li.camarote_19{left: 565px; top: 357px;}
#mapa ul li.camarote_20{left: 565px; top: 249px;}
#mapa ul li.camarote_21{left: 565px; top: 205px;}
#mapa ul li.camarote_22{left: 565px; top: 161px;}
#mapa ul li.camarote_23{left: 565px; top: 117px;}
#mapa ul li.camarote_24{left: 565px; top: 73px;}
#mapa ul li.camarote_25{left: 69px; top: 73px;}
#mapa ul li.camarote_26{left: 69px; top: 117px;}
#mapa ul li.camarote_27{left: 69px; top: 161px;}
#mapa ul li.camarote_28{left: 69px; top: 205px;}
#mapa ul li.camarote_29{left: 69px; top: 249px;}
#mapa ul li.camarote_30{left: 155px; top: 358px;}
#mapa ul li.camarote_31{left: 202px; top: 358px;}
#mapa ul li.camarote_32{left: 249px; top: 358px;}
#mapa ul li.camarote_33{left: 332px; top: 358px;}
#mapa ul li.camarote_34{left: 378px; top: 358px;}
#mapa ul li.camarote_35{left: 425px; top: 358px;}
#mapa ul li.camarote_36{left: 513px; top: 249px;}
#mapa ul li.camarote_37{left: 513px; top: 205px;}
#mapa ul li.camarote_38{left: 513px; top: 161px;}

@keyframes pulse {
	0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.85);
	}
}

#modal_camarote{font-family: 'Displayed Regular', sans-serif; font-size: 1.3em;}
#modal_camarote h3{font-family: 'Edo SZ', sans-serif; font-size: 2.7em;}

/* LOADER */
.container_loader {
  width: 100%;
  display: flex;
  margin-bottom: 2em;
  margin-top: 8em;
  justify-content: center;
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #f1c40f;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;  
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);  
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.video-embed{width: 530px;}
#footer p{font-size: 23px;}
/* RESPONSIVIDADE */
@media screen and (max-width:767px){
  body{overflow-x: hidden;}
  #header button{margin-bottom: 1em;}
  .video-embed{width: 100%;}
  .video-embed div,
  .video-embed-teto div,
  .video-embed-tz div{width: 100%!important;}
  #camarotes .container .row div:nth-child(2){overflow-y: auto;}
  #teto .container,
  #tz .container{background-size: 75% auto;}
  #teto .container{background-position: right top;}
  #tz .container{background-position: left top;}
  #tz .container h1{line-height: 1;}
  .video-embed-teto,
  .video-embed-tz{width: 100%;}
  #teto .video-embed-teto div{height: 200px!important;}
  #tz .video-embed-tz div{height: 200px!important;}  
  #teto_mask{min-height: 235px!important; width: 100px!important;}
  #tz_mask{min-height: 150px!important; width: 123px!important;}
  #header .container .row div:nth-child(4){text-align: center!important;}
  #header .container .row div button:nth-child(1){margin-right: .25em!important;}
  .modal .modal-content .modal-body .row div:nth-child(1) img{max-height: 380px; width: 100%; overflow: hidden;}
  .container_loader{margin: 5em auto;}
  #poesia-acustica img.pineapple{width: 40%;}
  #poesia-acustica img.poesia{width: 100%;}
  #sobre p{padding: 0!important;}
  img{max-width: 90%!important;}
  .btn.btn-type-payment img{max-width: 30px!important;}
  .btn.btn-type-payment img.ico_zap{max-width: 50px!important;}
  #modal_camarote{overflow-x: hidden!important;}
}
